<nav class="navbar navbar-inverse headroom" >
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/"><p>Jaypee Onsite Judge</p></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/" >Home</a></li>
        <li routerLinkActive="active"><a class="btn" routerLink="/signup">Sign Up</a></li>
        <li routerLinkActive="active"><a class="btn" routerLink="/signin">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>

