<div class="row">
  <div class="col-xs-12">
    <h2>{{ contests[index].problems[probId].problemName }}</h2>
    <hr>
    <section class="main">
      <p align="justify" [innerHTML]="contests[index].problems[probId].problemText.main"></p>
      <hr>
      <h3>Input</h3>
      <p>{{ contests[index].problems[probId].problemText.input }}</p>
      <hr>
      <h3>Output</h3>
      <p>{{ contests[index].problems[probId].problemText.output }}</p>
      <hr>
      <h3>Constraints</h3>
      <p>{{ contests[index].problems[probId].problemText.contraints }}</p>
      <hr>
      <h3>Example</h3>
      <p>{{ contests[index].problems[probId].problemText.example}}</p>
    </section>

  </div>
</div>
