<div class="container">
  <div class="row">

    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">Registration</h1>
      </header>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">Register a new account</h3>

            <hr>

            <form class="form-group" #f="ngForm">
              <div class="top-margin">
                <label for="fName">Name<span class="text-danger">*</span></label>
                <input type="text" id="fName" class="form-control" ngModel name="name">
              </div>
              <div class="top-margin">
                <label for="email">Email<span class="text-danger">*</span></label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
              </div>
              <div class="top-margin">
                <label for="username">Username <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="username" ngModel name="username">
              </div>

              <div class="row top-margin">
                <div class="col-sm-6">
                  <label for="password">Password <span class="text-danger">*</span></label>
                  <input type="password" id="password" class="form-control" ngModel name="password">
                </div>
                <div class="col-sm-6">
                  <label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
                  <input type="password" id="confirmPassword" class="form-control" ngModel name="confPassword">
                </div>
              </div>

              <hr>

              <div class="row">

                <div class="col-lg-4 text-center col-lg-offset-4">
                  <button class="btn btn-action" (click)="onclk()" type="submit">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

    </article>
    <!-- /Article -->

  </div>
</div>
