<!--<div class="row">-->
  <!--<div class="col-md-8 col-md-offset-2">-->
    <!--<app-contest-item-->
      <!--*ngFor="let contestEl of contests; let i = index"-->
      <!--[contest]="contestEl"-->
      <!--[index]="i"></app-contest-item>-->
  <!--</div>-->
<!--</div>-->


<div class="container">
  <h2>Contests</h2>
  <hr>
  <div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-1 contest" *ngFor="let contestEl of contests; let i = index">
        <app-contest-item
          [contest]="contestEl"
          [index]="i"></app-contest-item>
    </div>
  </div>
</div>
