<div class="row">
  <div class="col-xs-12">

    <h2>{{name}} Submissions</h2>
    <hr>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Serial no.</th>
        <th>Language</th>
        <th class="ctr">Result</th>
        <th class="ctr">Time </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prob of submission; let i = index">
        <td>{{i+1}}</td>
        <td>{{prob.language}}</td>
        <td class="ctr">{{ prob.status }}</td>
        <td class="ctr">{{ prob.time | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

